/*
 *
 * CSS com estilos específicos do tema branco
 *
 * @Autores
 *
 * - Forcontent - www.forcontent.com.br
 *
 */


/* ==========================================================================
   Cabeçalho do portal
   ========================================================================== */

#header {
    padding: 32px 0 0 0;
    background-color: #fff;
    color: #565656;
}

/* Menu da Barra
   ========================================================================== */

div#wrapper-barra-brasil {
    clear: both;
}
#barra-brasil {
    min-width: 100% !important;
    position: absolute;
    top: 0;
}
#portal-personaltools {
  top: 34px;
}

/* Menu de Acessibilidade
   ========================================================================== */

#accessibility-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 933px;
    font-size: 1.2em;
    top: 47px;
}

#accessibility {
  margin-left: 5px;
}

#accessibility a {
    color: #215ec8;
}

#accessibility span {
    color: #fff;
    background: #215ec8;
    padding: 0 3px;
}

/* Titulo do portal
   ========================================================================== */

#portal-logo,
#portal-title { color: #215ec8 !important; }
#portal-title-1 { top: 12px; }
#logo {
  padding: 15px 0;
  width: 60%;
}
#logo img {
  max-width: 100%;
  max-height: 100px;
}

/* Menu site actions - Acessibilidade, Alto Contraste, Mapa do site
   ========================================================================== */

#portal-siteactions,
#portal-language,
ul#language { border-bottom: 1px dotted #215ec8; }

#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover,
ul#language a,
ul#language a:hover { color: #215ec8 !important; }

/* Menu 
   ========================================================================== */

#portal-globalnav {
  background: #fff; 
}

#portal-globalnav ul { text-align: left; }

#portal-globalnav li {
  margin-right: 10px;
  position: relative;
}
#portal-globalnav li a {
  color: #565656;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px !important;
  font-size: 120%;
  border: none;
  background: transparent;
  min-width: 1em;
  border-bottom: 2px solid transparent;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
  background: #fff;
  color: #282828;
  border-bottom: 2px solid #0170a5;
}
#portal-globalnav .selected a:hover {
  background: #fff;
  color: #0170a5;
}

ul.submenu {
  background: #fff;
  border-color: #ccc;
  border-width: 1px;
  border-style: none solid solid solid;
  margin: -2px 0 0 0;
  border-top: 2px solid #0170a5;
  box-shadow: 0px 4px 8px #888888;
  z-index: 2;
}
#portal-globalnav .submenu a:hover {
  background: #f1f1f1;
  color: #0170a5;
}
li.has-submenu a:after {
  content: '▼';
}
li.has-submenu .submenu a:after {
  content: none !important;
}


/* Ajustes especificos
   ========================================================================== */

.portaltype-collective-cover-content div.width-full {
  width: 97.75%;
  margin-left: -100% !important;
}
#content .documentDescription, #content #description {
  font-weight: normal;
  color: #000;
  line-height: 1.8em;
  font-size: 110%;
}

a:visited, #content a:visited, dl.portlet a:visited {
  color: #0173a5;
}

a:link, #content a:link, dl.portlet a:link {
  color: #0173a5;
}

#content-core p {
    font-size: 1.1em;
}
#content li {
  font-size: 1.1em;
  line-height: 1.8em;
}

/* Formulário de busca
   ========================================================================== */

#portal-searchbox {
  background: #eee;
  border: 1px solid #eee;
  margin: 5.12em 0 0 0;
}
#portal-searchbox .searchField {
  background: #eee;
}

/* ==========================================================================
   Sprinte Icons
   ========================================================================== */

/* icones de redes sociais */
#social-icons a,
/* central de conteudo */
.item-central .link-videos,
.item-central .link-audios,
.item-central .link-infograficos,
.item-central .link-publicacoes,
.item-central .link-fotos,
.item-central .link-aplicativos,
.item-central .link-dadosabertos,
/* icone do botão de busca */
#header input.searchButton { background-image: url("../img/sprite.png"); }
/* icone do botão de relatar erros */
#content .relatar-erros a { background: url("../img/icon-reportar-erros.png") no-repeat; }

/* Summary view */
#content .summary-view-icon [class*="icon"] {
    background-image: url("../img/summary-view-icons-sprite.png");
}

#social-icons {
  float: left;
  clear: none;
  margin: 4.6em 0 0 0;
}

#viewlet-social-like.vertical {
  min-height: inherit;
}
.documentAuthor {
  display: none;
}


/* ==========================================================================
   Portles
   ========================================================================== */

/* Portlet de navegação
   ========================================================================== */

#portal-column-one > .nav-menu-de-relevancia .first-item-nav a,
#portal-column-one > .nav-menu-de-relevancia .first-item-nav a span {
    color: #00500f !important;
}

.portlet-static-contents-central .portletHeader,
.portlet-static-resource-center .portletHeader,
.portlet-static-centrales-del-contenido .portletHeader,
.portlet-static-centrais-de-conteudos .portletHeader,
.portletNavigationTree .portletHeader {
    border-top: 4px solid #1659bf;
    color: #1659bf;
}

.portletNavigationTree .portletHeader a { color: #1659bf !important; }

.navTreeLevel0 > li.navTreeItemInPath,
.navTreeLevel0 > li.navTreeCurrentNode {
    border-top: 2px solid #1659bf !important;
    border-bottom: 2px solid #1659bf !important;
}
dl.portlet dt {
  color: #464a55 !important
}


/* ==========================================================================
   Collective Cover
   ========================================================================== */

/* Tile Banner Rotativo
   ========================================================================== */

/* Cores dos botões */

#tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    border-right: 1px solid #254e8c;
    background-color: #1659bf;
}

#tile_banner_rotativo .activeSlide .button-nav,
#tile_banner_rotativo li .button-nav:hover,
#tile_banner_rotativo li .button-nav:focus {
    background-color: #edeff1;
}

/* ícone do botão */

#content  #tile_banner_rotativo li .button-nav,
.orderTiles .button-nav {
    background-image: url("../img/bullet-banner-rotativo.gif");
}

/* Tiles
   ========================================================================== */

.tile a { color: #2c67cd !important; }

#content .gallery-element-metadata .title {
  font-size: 10px;
}
.gallery-element-metadata {
    overflow: hidden;
    height: 90px;
}

.tile p {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em !important;
}


/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
    background: #01538b;
    color: #fff;
}

#footer a { color: #fff; }

#wrapper #footer .footer-logos { background: #003d64; }

/* Doormat
   ========================================================================== */

#doormat-container { background: #01538b; }

#doormat-container dl { border-left: 1px solid #fff; }

#doormat-container dt { color: #fff; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Smartphone
   ========================================================================== */

@media only screen and (min-width : 320px) and (max-width : 768px) {

    .menuTrigger {
        background: #fff url("../img/bg-menu-mobile.png") bottom right no-repeat;
        width: 43px;
        right: 0;
        height: 38px;
        float: right;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    .ativo .menuTrigger {
      background-color: #f1f1f1;
    }

    .portlet-static-contents-central .portletHeader,
    .portlet-static-resource-center .portletHeader,
    .portlet-static-centrales-del-contenido .portletHeader,
    .portlet-static-centrais-de-conteudos .portletHeader,
    .portletNavigationTree .portletHeader {
      background: #edeff1 url("../img/portlet-header.gif") no-repeat 96% center;
    }

    .portletNavigationTree .portletHeader.ativo {
      background: url("../img/portlet-header-expanded.gif") no-repeat 96% center;
    }
    #portal-globalnav {
      display: none;
      padding: 0;
    }
    #navigation.ativo #portal-globalnav {
      display: block;
    }
    #portal-globalnav li {
      float: none;
      margin: 0;
      display: block;
    }
    ul.submenu {
      /*position: relative;*/
      width: 100%;
      /*left: inherit;*/
      box-shadow: none;
      border: none;
    }
    #portal-globalnav li a {
      background: transparent;
      color: #757575;
      border-bottom: none;
    }
    #portal-globalnav ul.submenu li a {
      padding-left: 20px !important;
      color: #757575;
    }
    #portal-globalnav li:hover ul, #portal-globalnav li li:hover ul, #portal-globalnav li li li:hover ul, #portal-globalnav li li li li:hover ul, #portal-globalnav li.sfhover ul, #portal-globalnav li li.sfhover ul, #portal-globalnav li li li.sfhover ul, #portal-globalnav li li li li.sfhover ul {
        left: auto;
        position: relative;
    }

    #portal-globalnav .selected a, #portal-globalnav a:hover {
        background: transparent;
        color: #757575;
        border-bottom: none;
    }
    #portal-globalnav .selected a {
      color: #0072a6;
      border-bottom: 2px solid #0072a6;
    }
    .has-submenu:hover {
      border-bottom: 2px solid #0072a6;
      margin-top: -2px;
    }
    .has-submenu:hover a {
      background: #f1f1f1 !important;  
    }
    .has-submenu:hover ul.submenu a {
      background: #fff !important;
      padding-left: 20px;  
    }
    li.has-submenu a:after {
      content: '▼';
      padding-left: 5px;
    }
    #tile_banner_rotativo.chamada_sobrescrito li .banner .title {
      font-size: 0.8em !important;
    }

}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  #header #portal-searchbox .searchButton {
    background: url("../img/search-button-30px.png") no-repeat;
  }
}



/* ==========================================================================
   Comentários
   ========================================================================== */

#viewlet-below-content .discussion {
  border-top: 4px solid #000000;
  padding-top: 20px;
  margin-top: 15px;
}

#viewlet-below-content .comment a {
  color: #345179;
}

#viewlet-below-content .comment .documentByLine {
  color: #345179;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 10px;
}

#viewlet-below-content .comment .documentByLine .commentDate {
  font-size: 1.0em;
  color: #172a38;
  font-weight: normal;
  padding-top: 0;
}

.commentBody {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    overflow: visible;
}

button.context.reply-to-comment-button {
    margin-left: 20px;
}

.commentActions {
    float: left;
    margin-left: 10px;
}

.commentBody p {
    font-size: 1.2em;
    color: #172a38;
    padding: 0 10px 10px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 10px;
    float: none;
}

.row #commenting textarea,
.row .discussion textarea {
    font: 1.2em "open_sansregular", Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #eeeff1;
}

#commenting p {
    font-size: 1.2em;
}

.row #commenting label, .row .discussion label {
    font-size: 1.1em;
}

.discussion .reply {
    clear: both;
    color: #000000;
    padding-top: 5px;
}


/* Conselheiros */
.section-conselheiros #content .item {
  margin-bottom: 2.5em;
}
.section-conselheiros #content .item .field,
.portaltype-counselor #content-core .field {
  width: 28%;
  float: left;
}
.section-conselheiros #content .item .field {
  width: 28%;
  float: left;
  margin-top: -2.5em;
}
.section-conselheiros #content .item .headline,
.section-conselheiros #content .item #parent-fieldname-text,
.portaltype-counselor #content-core #parent-fieldname-text {
  float: right;
  width: 70%;
}
.section-conselheiros #content .item .headline {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.section-conselheiros #content .item .headline a {
  color: #0072a6;
}

.section-conselheiros #content .item .documentByLine,
.section-conselheiros #content .item #parent-fieldname-given-name,
.section-conselheiros #content .item #parent-fieldname-surname,
.portaltype-counselor #content-core #parent-fieldname-given-name,
.portaltype-counselor #content-core #parent-fieldname-surname {
  display: none;
}
.portletSearch .portletItem .searchField {
  width: 80%;
  border: none;
  float: left;
}
.portletSearch .searchButton {
  width: 20px;
  background: url(../img/search-button-30px.png);
  border: none;
  text-indent: -1000px;
  background-size: 14px;
  background-repeat: no-repeat;
}
.portletSearch .portletFooter {
  padding: 0 !important;
}
.portletItem #searchform,
.portletItem #livesearch0 {
  border: 1px solid #0072a6;
  padding: 3px 0;
  border-radius: 5px;
}
#search_text {
  padding: 0.4em 1em 0 1em;
  display: block;
}
.portletHeader .tile {
  margin-bottom: 0;
}
.portletSearch .LSBox {
    background: #fff;
    border-radius: 5px;
    padding: 2px;
}
.template-summary_view #content h1.documentFirstHeading, .template-folder_summary_view #content h1.documentFirstHeading, .template-facetednavigation_view #content h1.documentFirstHeading {
    color: #0072a6;
    text-transform: uppercase;
    font-weight: normal !important;
    font-family: Arial, Helvetica, sans-serif;
}

/* secoes */
#sobre .portalservicos-item a {padding: 0 !important;}
#sobre .portalservicos-item {
  padding-bottom: 10px;
  display: inline-block;
}
.section-conselheiros #portalservicos-conselheiros,
.section-o-que-e #portalservicos-o-que-e,
.section-atividades #portalservicos-atividades,
.section-noticias #portalservicos-noticias,
.section-biblioteca #portalservicos-biblioteca,
.section-acesso-a-informacao #portalservicos-acesso-a-informacao {
  border-bottom: 3px solid #0170a5;
}

#header > div {
  margin: 30px auto 0 auto;
  max-width: 933px;
  overflow: initial;
}
#content h1.documentFirstHeading {
  color: #0072a6;
  text-transform: uppercase;
  font-weight: normal !important;
  font-family: Arial, Helvetica, sans-serif;
}
#content .documentDescription, #content #description {
  font-weight: normal;
}


.padrao .outstanding-header {
  border: none;
}
.outstanding-header .outstanding-title {
    margin-left: 0 !important;
    padding: 0;
    border-top: none;
    border-bottom: none;
    color: #000;
    font-size: 2em !important;
    line-height: 1em;
}
.tile a {
    color: #000 !important;
    font-size: 120%;
    font-weight: bold;
}

#portal-column-two dl.portlet {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #fff !important;
}
.portletNavigationTree > .portletItem a span, .item-central .link-central {
    color: #0094da !important;
}
.portlet.portletSearch .portletHeader {
  display: none;
}
.portlet.portletSearch {
    border: 1px solid #0071a7;
    border-radius: 5px;
}
#tile_banner_rotativo li .banner img {
  max-width: 100%;
}
#portal-column-two {
  margin-left: -20%;
  width: 20%;
}
div.width-3\3a 4 {
    width: 72.75%;
}
.section-home #main, .portaltype-plone-site #portal-breadcrumbs {
    padding-top: 0 !important;
}

#main #portal-breadcrumbs {
  padding-left: 20px;
  margin-top: 1em;
}
#doormat-container .column-0  dl {
  border-left: none !important;
}
#doormat-container .column-2  dl {
  font-size: 135%;
}
.template-summary_view #content-core, .template-folder_summary_view #content-core, .template-facetednavigation_view #content-core {
    margin-top: 0;
}
#faceted-form #top-area {
  display: block;
  margin: 0;
  padding: 0 0 33px 0;
  border-top: 0;
  border-bottom: 5px solid #01538b;
  background-color: #fff;
}
#faceted-form #top-area .searchButton {
  max-width: 165px;
  background-color: #01538b;
}
#faceted-form #top-area legend,
.template-facetednavigation_view #viewlet-below-content-title {
  display: none;
}
.livesearchContainer {
  line-height: 1.5em;
  margin: 2px 0 -1em -196px;
  padding: 0 1em 1em;
  background: #fff;
  border: 1px solid #0072a6;
}
#livesearchLegend {
    display: none;
}
.livesearchContainer li {
  list-style: none !important;
}

/* ==========================================================================
   Agenda
   ========================================================================== */

.template-agenda_view #meetingagenda {
    border-top: 3px solid #0072a6;
    padding-top: 25px;
}

.template-agenda_view #meetingagenda .tileItem .documentByLine {
    color: #0072a6;
    font-family: "open_sansregular",Arial,Helvetica,sans-serif;
    left: 0;
    margin: 2em 0 0;
    min-height: 5em;
    min-width: 6.5em;
    padding: 0;
    position: absolute;
    top: 0;
}

.template-agenda_view #meetingagenda .tileItem .documentByLine .daystart {
    display: block;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.template-agenda_view #meetingagenda .tileItem .documentByLine .monthstart {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 5px;
}

.template-agenda_view #meetingagenda .tileItem .documentByLine .startTime {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 5px;
}

.template-agenda_view #meetingagenda .tileItem {
    clear: both;
    font-size: 1em;
    margin: 0;
    overflow: hidden;
    padding: 0 0 2em 6em;
    position: relative;
}

.template-agenda_view #meetingagenda .tileItem .tileContent {
    border-bottom: 1px solid #d7dbda;
    min-height: 75px;
    overflow: hidden;
    padding-bottom: 2em;
}

.template-agenda_view #meetingagenda .agendaDay,
.template-agenda_view #meetingagenda .tileItem .tileContent .eventTitle {
    color: #0072a6;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventTitle.privateState a {
    color: Red;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .startTime {
    color: #0072a6;
    font-weight: 600;
}
.template-agenda_view #meetingagenda .tileItem .tileContent .eventType,
.template-agenda_view #meetingagenda .tileItem .tileContent .eventLocation,
.template-agenda_view #meetingagenda .tileItem .tileContent .morePrograming,
.template-agenda_view #meetingagenda .tileItem .tileContent .eventAddagenda a {
    color: #666;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .morePrograming,
.template-agenda_view #meetingagenda .tileItem .tileContent .eventAddagenda {
    display: inline;
    float: left;
    width: 50%;
    font-size: 110%;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .morePrograming a.collapsed {
   background: url('../img/arrowDown.png') center left no-repeat;
   padding-left: 14px;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .morePrograming a.expanded {
   background: url('../img/arrowUp.png') center left no-repeat;
   padding-left: 14px;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventAddagenda a {
   background: url('../img/popup_calendar.png') center left no-repeat;
   padding-left: 20px;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventContent {
    margin-top: 4em;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventContent .eventImage{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventContent .eventAttendees {
    margin: 15px 0 20px;
}

.template-agenda_view #meetingagenda .tileItem .tileContent .eventContent .eventAttendees span,
.template-agenda_view #meetingagenda .tileItem .tileContent .eventContent .eventProgramming div{
    color: #666;;
}


/* portlets agenda */
.portlet-static-agenda a {
    background: #0072a6;
    border-radius: 4px;
    color: #fff;
    font-size: 80%;
    text-align: center;
    display: block;
}
#portal-column-two dl.portlet.portletCalendarCDES {
    background: #edeff1 !important;
}

.portletCalendarCDES .portletText {
    padding: 1em 1em 0 1em;
}
.portletSearch .portletHeader, .portletCalendar .portletHeader {
  padding: 5px 10px !important;
}

/* ==========================================================================
   Type Event
   ========================================================================== */

.template-event_view .eventImage {
    margin-bottom: 20px;
}


.eventDetails table {
    margin-bottom: -1px !important;
}
.eventDetails table.listing tbody tr,
.eventDetails table.listing tbody th,
.eventDetails table.listing tbody td {
  background: #edeff1 !important;
  border: none !important;
}
.eventDetails table.listing tbody tr {
  border-bottom: 1px solid #aeb3b6 !important;
}
.eventDetails table.listing tbody th {
  font-size: 1em;
  color: #000;
}

/* ==========================================================================
   Formgem
   ========================================================================== */

.pfg-form form {
  width: 80%;
  margin: 50px auto 10px auto;
}
.pfg-form form .field input[type="text"][size],
.pfg-form form .field input[type="text"], 
#content .pfg-form form .field textarea {
  width: auto;
  width: 98%;
  border-color: #0072a6;
  border-radius: 4px;
  padding: 1%;
}
.pfg-form form label {
  display: none;
}
.pfg-form form div.formControls {
  text-align: center;
}
.pfg-form form .context {
  margin: 0 auto;
  padding: 7px 20px;
  border-radius: 4px;
  border: none;
  background: #0072a6;
  color: #fff;
  font-weight: bold;
}

.label {
  white-space: inherit;
}

body.contraste ul#language a, 
body.contraste ul#language a:hover {
  color: #ff0 !important;
  background: #000 !important;
  text-decoration: underline;
}
body.contraste  #portal-globalnav {
  background: #000 !important;
}
body.contraste #portal-siteactions, 
body.contraste #portal-language, 
body.contraste ul#language,
body.contraste #portal-siteactions {
    border-bottom: none;
}
body.contraste #logo {
  background: url(img/logo-contraste.png) no-repeat -2px 0px;
  margin-top: 14px;
}
body.contraste #logo img {
    opacity: 0;
}
